@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    transition: 0.5s;
    /* transform-origin: 30px 30px;   */
    transform-origin: center center;
    animation: rotate 1s linear 1;
    /*开始动画后无限循环，用来控制rotate*/
}

.rotate_infinite {
    transition: 0.5s;
    /* transform-origin: 30px 30px;   */
    transform-origin: center center;
    animation: rotate 1s linear infinite;
    /*开始动画后无限循环，用来控制rotate*/
}