<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>团队</h2>
    </div>
    <div class="col-lg-2">
        <h2><button type="button" class="btn btn-primary pull-right">新建团队</button></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox" ng-repeat="group in groups1">
                <div class="ibox-title">
                    <!-- <span class="label label-primary pull-right">NEW</span> -->
                    <h5>{{group.name}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#" ng-repeat="member in group.members"><img alt="member" class="img-circle mid-image" ng-src="{{member.avatar_url}}">&nbsp;&nbsp;</a>
                    </div>
                    <h4>团队介绍</h4>
                    <p>
                        {{group.description}}
                    </p>
                    <div>
                        <span>项目完成度</span>
                        <div class="stat-percent">0%</div>
                        <div class="progress progress-mini">
                            <div style="width: 0%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            {{group.projects.length}}
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">人数</div>
                            {{group.members.length}}
                        </div>
                        <div class="col-sm-4 text-right">
                          <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                          </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="ibox" ng-repeat="group in groups2">
                <div class="ibox-title">
                    <h5>{{group.name}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#" ng-repeat="member in group.members"><img alt="member" class="img-circle mid-image" ng-src="{{member.avatar_url}}">&nbsp;&nbsp;</a>
                    </div>
                    <h4>团队介绍</h4>
                    <p>
                        {{group.description}}
                    </p>
                    <div>
                        <span>项目完成度</span>
                        <div class="stat-percent">0%</div>
                        <div class="progress progress-mini">
                            <div style="width: 0%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            {{group.projects.length}}
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">人数</div>
                            {{group.members.length}}
                        </div>
                        <div class="col-sm-4 text-right">
                          <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                          </a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="col-lg-4">
            <div class="ibox" ng-repeat="group in groups3">
                <div class="ibox-title">

                    <h5>{{group.name}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#" ng-repeat="member in group.members"><img alt="member" class="img-circle mid-image" ng-src="{{member.avatar_url}}">&nbsp;&nbsp;</a>
                    </div>
                    <h4>团队介绍</h4>
                    <p>
                        {{group.description}}
                    </p>
                    <div>
                        <span>项目完成度</span>
                        <div class="stat-percent">0%</div>
                        <div class="progress progress-mini">
                            <div style="width: 0%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            {{group.projects.length}}
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">人数</div>
                            {{group.members.length}}
                        </div>
                        <div class="col-sm-4 text-right">
                          <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                          </a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>
