<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>团队</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5>IT-01 - Lab-409</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar1.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar2.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar4.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar5.jpg"></a>
                    </div>
                    <h4>团队介绍</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                    </p>
                    <div>
                        <span>项目完成度</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            12
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">人数</div>
                            5
                        </div>
                        <div class="col-sm-4 text-right">
                          <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                          </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-04 - SVG</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar1.jpg"></a>
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar2.jpg"></a>
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar3.jpg"></a>
                    </div>
                    <h4>团队介绍</h4>
                    <p>
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.
                    </p>
                    <div>
                        <span>项目完成度</span>
                        <div class="stat-percent">32%</div>
                        <div class="progress progress-mini">
                            <div style="width: 32%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            24
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">人数</div>
                            3
                        </div>
                        <div class="col-sm-4 text-right">
                          <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                          </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-02 - 机器学习</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar4.jpg"></a>
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar5.jpg"></a>
                    </div>
                    <h4>团队介绍</h4>
                    <p>
                        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </p>
                    <div>
                        <span>项目完成度</span>
                        <div class="stat-percent">61%</div>
                        <div class="progress progress-mini">
                            <div style="width: 61%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            43
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">人数</div>
                            2
                        </div>
                        <div class="col-sm-4 text-right">
                          <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                          </a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">

                    <h5>IT-02 - Dota</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar2.jpg"></a>
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar3.jpg"></a>
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar4.jpg"></a>
                      <a href="#"><img alt="member" class="img-circle mid-image" src="images/avatar5.jpg"></a>
                    </div>
                    <h4>团队介绍</h4>
                    <p>
                        Very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </p>
                    <div>
                        <span>项目完成度</span>
                        <div class="stat-percent">82%</div>
                        <div class="progress progress-mini">
                            <div style="width: 82%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            68
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">人数</div>
                            4
                        </div>
                        <div class="col-sm-4 text-right">
                          <a class="btn btn-white btn-bitbucket">
                            <i class="fa fa-wrench"></i>
                          </a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>
