<div id="CAContainer" class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <h4>检测报告汇总</h4>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref=".sonarqube"> <i class="fa fa-file-code-o "></i> SonarQube检测报告
                                    <!-- <span class="label label-warning pull-right">4</span>  -->
                                </a></li>
                            <li><a ui-sref=".issues"> <i class="fa fa-file-code-o"></i> 模块缺陷性预测报告
                                    <!-- <span class="label label-danger pull-right">1</span> -->
                                </a></li>
                            <li><a ui-sref=".issues"> <i class="fa fa-file-code-o"></i> 开源工具PMD检测报告
                                    <!-- <span class="label label-danger pull-right">1</span> -->
                                </a></li>
                            <li><a style="text-align:left;color:#D1D1D1" ui-sref=".issues"> <i class="fa fa-ellipsis-h"></i> 更多功能集成中

                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h4>项目评测记录</h4>
                    <a>
                        <div ng-if="detectedProject==null">
                            您尚无正在检测的项目
                        </div>
                        <div ng-if="detectedProject!=null">
                            <li ng-repeat="(key, value) in detectedProject" ui-sref=".records({'id':value.taskID, 'name': value.projectName})"  ng-if="key<=3" ui-sref=".measures" style="margin-bottom:4px;color:grey;list-style:none;">
                                {{value.projectName}}
                                <i ng-if="value.taskState==1" class="fa fa-check-circle" style="color:green;float:right">已完成</i>
                                <i ng-if="value.taskState==2" class="fa fa-clock-o" style="color:#87CEFA;float:right">排队中</i>
                                <i ng-if="value.taskState==3" class="fa fa-spinner" style="color:#87CEFA;float:right">分析中</i>
                                <i ng-if="value.taskState==4" class="fa fa-times-circle" style="color:red;float:right">已失败</i>
                            </li>
                            <li style="margin-top:5px;list-style:none;text-align:right"> 查看更多 </li>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h4>添加检测项目</h4>
                    <div class="input-group">
                        <!--{{projects}}-->
                        <select class="form-control" ng-model='name'>
                            <ul>
                                <li>
                                    <option ng-repeat="project in projects">{{project.path_with_namespace}}</option>
                                </li>
                            </ul>
                        </select>
                        <span class="input-group-btn"> <button type="button" class="btn btn-primary" ng-click="codeAnalysis(name)">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 animated fadeInRight">
            <div ui-view></div>
        </div>
    </div>
</div>

<script>
    var test = null;
</script>