<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>模块缺陷性预测检测报告</h2>

    </div>

</div>

<div class="wrapper wrapper-content animated fadeIn">
    <li ng-repeat="(key, value) in moduleMeasures" style="margin-bottom:4px;color:grey;list-style:none;">
    
    <button type="button" style="width: 100%; text-align: left" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">方法：{{value[0]}}
        <span ng-if="value[1]==false" style="color:red;float:right">Defective模块</span>
        <span ng-if="value[1]!=false" style="color:green;float:right">Non-Defective模块</span>
    </button>
    <div uib-collapse="isCollapsed" collapsed="coled()" collapsing="coling()" expanded="exped()" expanding="exping()">
        <div class="well well-lg">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>指标名称</th>
                        <th>指标值</th>
                        <th>指标解释</th>
                        <th>指标评级/备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NUM_UNIQUE_OPERANDS</td>
                        <td>{{value[2].num_UNIQUE_OPERANDS}}</td>
                        <td>不同操作数的个数</td>
                        <td>A+</td>
                    </tr>
                    <tr>
                        <td>LOC_TOTAL</td>
                        <td>{{value[2].loc_TOTAL}}</td>
                        <td>总代码行数</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>CYCLOMETIC_COMPLEXITY</td>
                        <td>{{value[2].cyclomatic_COMPLEXITY}}</td>
                        <td>全复杂度</td>
                        <td>A+</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
        </table>
        </div>
    </div>
</li>
</ul>
</div>

<!-- CodeMirror -->
<script src="lib/codeMirror/codemirror.js"></script>
<script src="lib/codeMirror/mode/javascript/javascript.js"></script>

<script>
    $(document).ready(function () {
        // js抛异常
    });
    var locate = function (index, op) {
        var divElement = document.getElementById("code_div" + index);
        var locate_btn = document.getElementById("locate_btn" + index);
        var hide_btn = document.getElementById("hide_btn" + index);
        if (op == 0) {
            divElement.style.display = 'none';
            locate_btn.style.display = 'inline';
            hide_btn.style.display = 'none';
        } else {
            divElement.style.display = 'block';
            hide_btn.style.display = 'inline';
            locate_btn.style.display = 'none';
        }
    }

    var hideCodeDiv = function (num) {
        for (var i = 1; i < num + 1; i++) {
            var divElement = document.getElementById("code_div" + i);
            divElement.style.display = 'none';
        }
    }
</script>