<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>衡量标准(Measures)</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
          <div class="tabs-container">

              <uib-tabset>
                  <uib-tab heading="所有指标">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Reliability</h3>
                          </div>
                          <div class="col-sm-4">
                              <h3>Bugs</h3>
                              <span class="label label-warning">4</span>
                          </div>
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <h4>分析结果1</h4>
                                  <h4>分析结果2</h4>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Security</h3>
                          </div>
                          <div class="col-sm-4">
                              <h3>Vulnerability</h3>
                              <span class="label label-danger">1</span>
                          </div>
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <h4>分析结果1</h4>
                                  <h4>分析结果2</h4>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Duplication</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Dupicated Lines (%)</h3>
                            <h1>0.0%</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Duplicated Blocks <span class="pull-right">0</span> </a></li>
                                <li>  Duplicated Lines <span class="pull-right">0</span></a></li>
                                <li>  Duplicated Files <span class="pull-right">0</span> </a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Maintainability</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Code Smell</h3>
                            <h1>70</h1>
                          </div>
                          <div class="col-sm-4">
                            <h4>分析结果1</h4>
                            <h4>分析结果2</h4>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Size</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Line of Code</h3>
                            <h1>150</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Lines <span class="pull-right">200</span> </a></li>
                                <li>  Statements <span class="pull-right">98</span></a></li>
                                <li>  Functions <span class="pull-right">12</span> </a></li>
                                <li>  Classes <span class="pull-right">5</span></a></li>
                                <li>  Files <span class="pull-right">3</span> </a></li>
                                <li>  Directories <span class="pull-right">3</span></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Complexity</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Complexity</h3>
                            <h1>30</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Complexity / Function <span class="pull-right">10.0</span> </a></li>
                                <li>  Complexity / File <span class="pull-right">10.0</span></a></li>
                                <li>  Complexity / Class <span class="pull-right">10.0</span> </a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Documentation</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Comments(%)</h3>
                            <h1>30</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Comment Lines <span class="pull-right">13</span> </a></li>
                                <li>  Public  API <span class="pull-right">8</span></a></li>
                                <li>  Public Documented API (%) <span class="pull-right">12.5%</span></a></li>
                                <li>  Public Undocumented API <span class="pull-right">7</span></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>

                  </uib-tab>
                  <uib-tab heading="缺陷信息" onclick="hideCodeDiv(5)">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Reliability</h3>
                          </div>
                          <div class="col-sm-4">
                              <h3>Bugs</h3>
                              <span class="label label-warning">4</span>
                          </div>
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <h4>分析结果1</h4>
                                  <h4>分析结果2</h4>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <h1>Bugs:</h1>
                      <div class="alert alert-danger">
                                <h4>Only the first line of this 2-line block will be executed conditionally. The rest will execute unconditionally.
                                  <button id="locate_btn1" class="btn btn-default pull-right" onclick="locate(1,1);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Locate</button>
                                  <button id="hide_btn1" class="btn btn-default pull-right" style="display:none" onclick="locate(1,0);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Hide</button></h4>
                                <span style="color:black">Bug</span>
                      </div>
                      <div id="code_div1" class="ibox-content m-b-sm border-bottom" >
                                  Line 13           Main.java
                                  <textarea id="code1">
                                    package panyan;

                                    import java.lang.*;
                                    import java.util.Scanner;
                                    public class cal {

                                    	public static void main(String[] args) {
                                    		Scanner scan=new Scanner(System.in);
                                    	    int num =scan.nextInt();
                                    		int cnt =0;
                                    		System.out.println("start");

                                    		for(int i =1;i<=num/2;i++){
                                    			if( isPrime(i)&&isPrime(num-i))
                                    				cnt++;
                                    		}

                                    		System.out.println("result");

                                    		System.out.println(cnt);
                                    	}

                                    	public static boolean isPrime(int n){
                                    //		System.out.println(n);
                                    	    for(int i=2;i<=n/2;i++){
                                    	         if(n%i == 0)
                                    	              return false;
                                    	    }
                                    	    return true;
                                    	}

                                    }

                                  </textarea>
                      </div>
                      <div class="alert alert-danger">
                                <h4>Either log or rethrow this exception.
                                  <button id="locate_btn2" class="btn btn-default pull-right" onclick="locate(2,1);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Locate</button>
                                  <button id="hide_btn2" class="btn btn-default pull-right" style="display:none" onclick="locate(2,0);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Hide</button>
                                </h4>
                                <span style="color:black">Bug</span>
                      </div>
                      <div id="code_div2" class="ibox-content m-b-sm border-bottom" >
                                  Line 1           PYSB.java
                                  <textarea id="code2" style="width:300px;overflow-y:visible">
                                    function animationHover(element, animation)
                                      element = $(element);
                                      element.hover(
                                              function()
                                                  element.addClass('animated ' + animation);
                                              },
                                              function()
                                                  //wait for animation to finish before removing classes
                                                  window.setTimeout( function()
                                                      element.removeClass('animated ' + animation);
                                                  }, 2000);
                                              });
                                  }

                                  </textarea>
                      </div>
                      <div class="alert alert-danger">
                                <h4>NullPointerException might be thrown as 'sheet' is nullable here.
                                  <button id="locate_btn3" class="btn btn-default pull-right" onclick="locate(3,1);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Locate</button>
                                  <button id="hide_btn3" class="btn btn-default pull-right" style="display:none" onclick="locate(3,0);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Hide</button>
                                </h4>
                                <span style="color:black">Bug</span>
                      </div>
                      <div id="code_div3" class="ibox-content m-b-sm border-bottom" >
                                  Line 1           LJCSB.java
                                  <textarea id="code3" style="width:300px;overflow-y:visible">
                                    var SpeechApp = angular.module('SpeechApp', []);

                                    function VoiceCtrl($scope)

                                        $scope.said='...';

                                        $scope.helloWorld = function()
                                            $scope.said = "Hello world!";
                                        }

                                        $scope.commands =
                                            'hello (world)': function()
                                                if (typeof console !== "undefined") console.log('hello world!')
                                                $scope.$apply($scope.helloWorld);
                                            },
                                            'hey': function()
                                                if (typeof console !== "undefined") console.log('hey!')
                                                $scope.$apply($scope.helloWorld);
                                            }
                                        };

                                        annyang.debug();
                                        annyang.init($scope.commands);
                                        annyang.start();
                                    }

                                  </textarea>
                      </div>
                      <div class="alert alert-danger">
                                <h4>Introduce a new variable instead of reusing the parameter "moneyIndex".
                                  <button id="locate_btn4" class="btn btn-default pull-right" onclick="locate(4,1);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Locate</button>
                                  <button id="hide_btn4" class="btn btn-default pull-right" style="display:none" onclick="locate(4,0);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Hide</button>
                                </h4>
                                <span style="color:black">Bug</span>
                      </div>
                      <div id="code_div4" class="ibox-content m-b-sm border-bottom" >
                                  Line 1           SKSB.java
                                  <textarea id="code4" style="width:300px;overflow-y:visible">
                                  var isSKSB = true;

                                  </textarea>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="脆弱性" onclick="hideCodeDiv(5)">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Security</h3>
                          </div>
                          <div class="col-sm-4">
                              <h3>Vulnerability</h3>
                              <span class="label label-danger">1</span>
                          </div>
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <h4>分析结果1</h4>
                                  <h4>分析结果2</h4>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <h1>Vulnerabilities:</h1>
                      <div class="alert alert-danger">
                                <h4>Only the first line of this 2-line block will be executed conditionally. The rest will execute unconditionally.
                                  <button id="locate_btn5" class="btn btn-default pull-right" onclick="locate(5,1);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Locate</button>
                                  <button id="hide_btn5" class="btn btn-default pull-right" style="display:none" onclick="locate(5,0);" type="button"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Hide</button></h4>
                                <span style="color:black">Vulnerability</span>
                      </div>
                      <div id="code_div5" class="ibox-content m-b-sm border-bottom" >
                                  Line 13           Main.java
                                  <textarea id="code5" style="width:300px;overflow-y:visible">
                                  Vulnerability Test!
                                  </textarea>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="代码重复率">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Duplication</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Dupicated Lines (%)</h3>
                            <h1>0.0%</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Duplicated Blocks <span class="pull-right">0</span> </a></li>
                                <li>  Duplicated Lines <span class="pull-right">0</span></a></li>
                                <li>  Duplicated Files <span class="pull-right">0</span> </a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="Code Smell">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Maintainability</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Code Smell</h3>
                            <h1>70</h1>
                          </div>
                          <div class="col-sm-4">
                            <h4>分析结果1</h4>
                            <h4>分析结果2</h4>
                          </div>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="项目规模(size)">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Size</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Line of Code</h3>
                            <h1>150</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Lines <span class="pull-right">200</span> </a></li>
                                <li>  Statements <span class="pull-right">98</span></a></li>
                                <li>  Functions <span class="pull-right">12</span> </a></li>
                                <li>  Classes <span class="pull-right">5</span></a></li>
                                <li>  Files <span class="pull-right">3</span> </a></li>
                                <li>  Directories <span class="pull-right">3</span></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="项目复杂度(complexity)">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Complexity</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Complexity</h3>
                            <h1>30</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Complexity / Function <span class="pull-right">10.0</span> </a></li>
                                <li>  Complexity / File <span class="pull-right">10.0</span></a></li>
                                <li>  Complexity / Class <span class="pull-right">10.0</span> </a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="注释及文档(Documentation)">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-4">
                              <h3>Documentation</h3>
                          </div>
                          <div class="col-sm-4">
                            <h3>Comments(%)</h3>
                            <h1>30</h1>
                          </div>
                          <div class="col-sm-4">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  Comment Lines <span class="pull-right">13</span> </a></li>
                                <li>  Public  API <span class="pull-right">8</span></a></li>
                                <li>  Public Documented API (%) <span class="pull-right">12.5%</span></a></li>
                                <li>  Public Undocumented API <span class="pull-right">7</span></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="机器学习维度信息(ML Measures)">
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-2">
                          </br>
                              <h1>LOC</h1>
                          </div>
                          <div class="col-sm-10">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  总行数 LOC <span class="pull-right">200</span> </a></li>
                                <li>  纯代码的行数  SLOC <span class="pull-right">150</span></a></li>
                                <li>  空行数 BLOC <span class="pull-right">30</span> </a></li>
                                <li>  同时包含代码和注释的行数  C&SLOC <span class="pull-right">8</span></a></li>
                                <li>  纯注释的行数  CLOC <span class="pull-right">12</span> </a></li>
                                <li>  注释比例 <span class="pull-right">10%</span></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-2">
                          </br>
                              <h1>Halstead</h1>
                          </div>
                          <div class="col-sm-10">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  分支数 <span class="pull-right">12</span> </a></li>
                                <li>  函数调用数 <span class="pull-right">21</span></a></li>
                                <li>  参数个数 <span class="pull-right">6</span> </a></li>
                                <li>  程序复杂度 D <span class="pull-right">5</span></a></li>
                                <li>  程序困难度 I <span class="pull-right">3</span> </a></li>
                                <li>  预计的人力成本 E = D * V <span class="pull-right">30</span></a></li>
                                <li>  预计的错误数 B <span class="pull-right">7</span> </a></li>
                                <li>  程序长度N = N1 + N2 <span class="pull-right">30</span></a></li>
                                <li>  程序的可理解程度L=(2/n1) * (n2/N2). <span class="pull-right">0.7</span> </a></li>
                                <li>  预计的实现耗时T= E/18 <span class="pull-right">5</span></a></li>
                                <li>  编码程序所需的最小比特数V <span class="pull-right">3</span> </a></li>
                                <li>  维护严重程度 ＝ ev(G)/v(G) <span class="pull-right">3</span></a></li>
                                <li>  运算元总数 <span class="pull-right">33</span> </a></li>
                                <li>  运算符总数 <span class="pull-right">19</span></a></li>
                                <li>  不重复的运算元数 <span class="pull-right">23</span> </a></li>
                                <li>  不重复的运算符数 <span class="pull-right">9</span></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content m-b-sm border-bottom">
                      <div class="row">
                          <div class="col-sm-2">
                          </br>
                              <h1>McCabe</h1>
                          </div>
                          <div class="col-sm-10">
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>  节点数 <span class="pull-right">12</span> </a></li>
                                <li>  条件数 <span class="pull-right">22</span> </a></li>
                                <li>  连锁条件数 <span class="pull-right">4</span></a></li>
                                <li>  能独立影响决策的条件数 <span class="pull-right">8</span> </a></li>
                                <li>  圈复杂度v(G) ＝ 线性独立路径的个数 <span class="pull-right">17</span></a></li>
                                <li>  圈密度vd(G) ＝ 圈复杂度／代码行数 <span class="pull-right">0.06</span> </a></li>
                                <li>  决策点的数量 <span class="pull-right">5</span></a></li>
                                <li>  决策密度dd(G) ＝ 条件数／决策点数 <span class="pull-right">3</span> </a></li>
                                <li>  设计复杂度iv(G) ＝ 外部调用数 <span class="pull-right">3</span></a></li>
                                <li>  设计密度id(G) ＝ iv(G)/v(G) <span class="pull-right">0.1</span> </a></li>
                                <li>  边缘数 ＝ 模块间的控制转移数 <span class="pull-right">98</span></a></li>
                                <li>  本质复杂度ev(G) <span class="pull-right">12</span> </a></li>
                                <li>  本质密度ed(G) ＝ (ev(G)-1)/(v(G)-1) <span class="pull-right">0.17</span></a></li>
                                <li>  全局数据复杂度gdv(G) <span class="pull-right">3</span> </a></li>
                                <li>  全局数据密度gd(G) ＝ gdv(G) / v(G) <span class="pull-right">0.3</span></a></li>
                                <li>  规范化的圈复杂度 ＝ v(G) / nl <span class="pull-right">7</span></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </uib-tab>
              </uib-tabset>

          </div>
        </div>
    </div>
</div>

<!-- CodeMirror -->
<script src="lib/codeMirror/codemirror.js"></script>
<script src="lib/codeMirror/mode/javascript/javascript.js"></script>

<script>
         $(document).ready(function(){
             var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true
             });

             var editor_two = CodeMirror.fromTextArea(document.getElementById("code2"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true
             });
             var editor_three = CodeMirror.fromTextArea(document.getElementById("code3"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true
             });
             var editor_four = CodeMirror.fromTextArea(document.getElementById("code4"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true
             });
             var editor_five = CodeMirror.fromTextArea(document.getElementById("code5"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true
             });


        });
        var locate = function(index,op){
          var divElement = document.getElementById("code_div"+index);
          var locate_btn = document.getElementById("locate_btn"+index);
          var hide_btn = document.getElementById("hide_btn"+index);
          if(op == 0){
            divElement.style.display = 'none';
            locate_btn.style.display = 'inline';
            hide_btn.style.display = 'none';
          }else{
            divElement.style.display = 'block';
            hide_btn.style.display = 'inline';
            locate_btn.style.display = 'none';
          }
        }

        var hideCodeDiv = function(num){
           for(var i =1;i<num+1;i++){
              var divElement = document.getElementById("code_div"+i);
              divElement.style.display = 'none';
           }
        }
</script>
