<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>作业编号{{projectId}} - 评测情况汇总</h2>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeIn">
    <!-- <div class="row">您尚无已分析完成的代码质量评测报告</div> -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>评测项</th>
                <th>项值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>评测任务ID</td>
                <td>{{taskDetail.taskID}} </td>
            </tr>
            <tr>
                <td>项目名称</td>
                <td>{{taskDetail.projectName}} </td>
            </tr>
            <tr>
                <td>项目版本</td>
                <td>{{taskDetail.projectVersion}} </td>
            </tr>
            <tr>
                <td>项目持有人ID</td>
                <td>{{taskDetail.userID}}</td>
            </tr>
            <tr>
                <td>代码下载路径</td>
                <td><a>{{taskDetail.archivePath}}</a></td>
            </tr>
            <tr>
                <td>作业执行状态</td>
                <td>{{taskDetail.taskStateDesc}}</td>
            </tr>
            <tr>
                <td>分析进度</td>
                <td ng-if="taskDetail.taskState==1">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                100%
                        </div>
                    </div>
                </td>
                <td ng-if="taskDetail.taskState!=1">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>分析起始时间</td>
                <td>{{ taskDetail.startTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
            <tr>
                <td>分析结束时间</td>
                <td>{{ taskDetail.endTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
            <tr>
                <td>Sonarqube质量检测报表</td>
                <!-- Iframe需要配置参数自动跳转 -->
                <td ng-if="taskDetail.sonarqubeUrl==null"><a>http://lab409.sonarqube.com/{{taskDetail.taskID}}</a></td>
                <td ng-click="jumpToSonarqube(taskDetail.sonarqubeUrl)" class="taskDetail.sonarqubeUrl" ng-if="taskDetail.sonarqubeUrl!=null"><a>{{taskDetail.sonarqubeUrl}}</a></td>
            </tr>
            <tr>
                <td>机器学习缺陷预测报表</td>
                <td><a href="http://localhost:9000/#/index/codeAnalysis/measures/{{taskDetail.taskID}}">http://lab409.machinelearningreport.com/{{taskDetail.taskID}}</a></td>
            </tr>
            <tr>
                <td>PMD检测报表</td>
                <td><a>http://lab409.pmdcheckreport.com/{{taskDetail.taskID}}</a></td>
            </tr>
        </tbody>
    </table>
</div>


<script>
    // $(document).ready(function () {
        

    // });
    
</script>