<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            </br>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <h5>关注  /  粉丝</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref=".following"> <i class="fa fa-thumbs-up "></i> 我的关注 <span class="label label-warning pull-right">12</span> </a></li>
                            <li><a ui-sref=".follower"> <i class="fa fa-thumbs-o-up"></i> 我的粉丝 <span class="label label-danger pull-right">1</span></a></li>
                        </ul>
                        <h5>Categories</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href=""> <i class="fa fa-circle text-navy"></i> Work </a></li>
                            <li><a href=""> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                            <li><a href=""> <i class="fa fa-circle text-primary"></i> Social</a></li>
                            <li><a href=""> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                            <li><a href=""> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
                <div ui-view></div>
        </div>
    </div>
</div>
