<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="contact-box center-version">

                <a href="profile.html">

                    <img alt="image" class="img-circle" src="img/a2.jpg">


                    <h3 class="m-b-xs"><strong>李杰初</strong></h3>

                    <div class="font-bold">机器学习带头人</div>
                    <address class="m-t-md">
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>

                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> 私信</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> 关注</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>