<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="social-feed-box">

        <!--<div class="pull-right social-action" uib-dropdown>
            <button type="button" class="btn btn-sm btn-white" ng-click="goBack()"> <i class="fa fa-mail-reply"></i> </button>
        </div>-->
        <div class="social-avatar">
            <a href="" class="pull-left">
                <img alt="image" ng-src="{{issueDetail.author.avatar_url}}">
            </a>
            <div class="media-body">
                <a >
                {{issueDetail.title}}
            </a>
                <small class="text-muted">{{issueDetail.created_at | date:'medium'}}</small> 
                <small class="text-muted">  由{{issueDetail.author.name}}创建</small>
            </div>
        </div>

        <div class="social-body">
            <p ng-bind-html="issueDetail.description">
            </p>

            <div class="btn-group">
                <button class="btn btn-white btn-xs" ng-repeat="label in issueDetail.labels">{{label}}</button>

            </div>




        </div>

        <div class="social-footer">
            <div class="social-comment" ng-repeat="note in issueDetail.notes">
                <a href="" class="pull-left">
                    <img alt="image" ng-src="{{note.author.avatar_url}}">
                </a>
                <div class="media-body">
                    <a href="#">
                    {{note.author.name}}
                </a> {{note.body}}
                    <br/>

                    <small class="text-muted">{{note.created_at}}</small>
                </div>
            </div>

            <div class="social-comment" ng-repeat="item in issueComment | orderBy: 'updated_at'">
                <a href="" class="pull-left">
                    <img alt="image" ng-src="{{item.author.avatar_url}}">
                </a>
                <div class="media-body">
                    <a>
                    {{item.author.username}}
                </a> {{item.body}}
                    <br/>
                    <!--<a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -->
                    <small class="text-muted">{{item.updated_at | date:'medium'}}</small>
                </div>
            </div>



            <div class="social-comment">
                <a href="" class="pull-left">
                    <img alt="image" ng-src="{{currentUser.avatarUrl}}">
                </a>
                <div class="media-body">
                    <textarea class="form-control" placeholder="写入评论..." ng-model="commentContent"></textarea>
                </div>
                </br>
                <button type="button" class="btn btn-sm btn-primary" ng-click="postNewComment()">
                评论
            </button>
                </br>
            </div>

        </div>

    </div>


</div>