<div class="wrapper wrapper-content  animated fadeInRight">
<div class="social-feed-box">

    <div class="pull-right social-action" uib-dropdown>
        <button type="button" class="btn btn-sm btn-white" ng-click="showIssueList()"> <i class="fa fa-mail-reply"></i> </button>
    </div>
    <div class="social-avatar">
        <a href="" class="pull-left">
            <img alt="image" src="images/avatar1.jpg">
        </a>
        <div class="media-body">
            <a href="#">
                Andrew Williams
            </a>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
        </div>
    </div>
    <div class="social-body">
        <p>
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
        </p>

        <div class="btn-group">
            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
        </div>
    </div>
    <div class="social-footer">
        <div class="social-comment">
            <a href="" class="pull-left">
                <img alt="image" src="images/avatar1.jpg">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                <br/>
                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                <small class="text-muted">12.06.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a href="" class="pull-left">
                <img alt="image" src="images/avatar2.jpg">
            </a>
            <div class="media-body">
                <a href="#">
                    Andrew Williams
                </a>
                Making this the first true generator on the Internet. It uses a dictionary of.
                <br/>
                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                <small class="text-muted">10.07.2014</small>
            </div>
        </div>

        <div class="social-comment">
            <a href="" class="pull-left">
                <img alt="image" src="images/avatar3.jpg">
            </a>
            <div class="media-body">
                <textarea class="form-control" placeholder="Write comment..."></textarea>
            </div>
        </div>

    </div>

</div>
</div>
