<div class="row">
  <div class="ibox float-e-margins">
        <div class="ibox-title">
            <a href=""><img alt="image" class="img-circle small-image" src="images/avatar1.jpg"></a>&nbsp;&nbsp;&nbsp;<a>xietiandi</a> <a>增加git后台搭建</a>


        </div>
        <div class="ibox-content">
            <table class="table">
                <tbody>
                <tr ng-repeat="content in content">
                    <!-- <td></td> -->
                    <td><i class="fa" ng-class="{'fa-folder': content.type=='tree' , 'fa-file-text-o': content.type=='blob'}"></i>&nbsp;&nbsp;{{content.name}}</td>
                    <td>Date...</td>
                    <td>Message...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- xtd sb -->
{{content}}
