<div class="wrapper wrapper-content">
<div class="row">
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="file-manager">
                <div class="hr-line-dashed"></div>
                <button class="btn btn-primary btn-block">新建文件夹</button>
                <div class="hr-line-dashed"></div>
                <h5>文件夹</h5>
                <ul class="folder-list" style="padding: 0">
                    <li><a href=""><i class="fa fa-folder"></i> 切图</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> 设计图</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> 需求文档</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> IOS文件夹</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> 安卓文件夹</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 animated fadeInRight">
<div class="row">
<div class="col-lg-12">

  <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>文件列表</h5>
            </div>
            <div class="ibox-content">
              <div class="project-list">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>大小</th>
                        <th>创建者</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><img alt="image" class="mid-image" src="images/header_one.jpg">&nbsp;&nbsp; IMG-1002.PNG</td>
                      <td>1MB</td>
                      <td>XTD</td>
                      <td class="project-actions">
                          <a ui-sref="app.project-detail.commits" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
                          <a href="" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>
                      </td>

                    </tr>
                    <tr>

                        <td><img alt="image" class="mid-image" src="images/header_one.jpg">&nbsp;&nbsp; IMG-1002.PNG</td>
                        <td>1MB</td>
                        <td>XTD</td>
                        <td class="project-actions">
                            <a ui-sref="app.project-detail.commits" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>
                        </td>
                    </tr>
                    <tr>

                        <td><img alt="image" class="mid-image" src="images/header_two.jpg">&nbsp;&nbsp; IMG-1002.PNG</td>
                        <td>1G</td>
                        <td>LJC</td>
                        <td class="project-actions">
                            <a ui-sref="app.project-detail.commits" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>

</div>
</div>
</div>
</div>
</div>
