<div class="wrapper wrapper-content">
<div class="row">

  <div class="col-sm-7 m-b-xs">
    <div class="input-group"><input type="text" placeholder="任务名称" class="input-sm form-control"> <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary"> 查找</button> </span></div>
  </div>

  <div class="col-sm-3">
  </div>

  <div class="col-sm-1">
    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle>
            PY <span class="caret"></span>
        </button>
        <ul role="menu" uib-dropdown-menu="">
            <li><a href="">XTD</a></li>
            <li><a href="">PY</a></li>
            <li><a href="">LJC</a></li>
        </ul>
    </div>
  </div>



  <div class="col-sm-1">
      <button type="button" class="btn btn-primary btn-sm">新建任务</button>
  </div>



</div>
<div class="ibox-content">
  <ul class="todo-list m-t small-list">
    <li>
        <checkbox ng-model="main.checkThree"></checkbox>
        <span class="m-l-xs">[添加朋友]如果系统的搜索结果和本地的结果有重复，能否排重？只显示系统的搜索结果</span>
    </li>
    <li>
        <checkbox ng-model="check4"></checkbox>
        <span class="m-l-xs">[添加朋友]每个搜索结果会重复两遍</span>

    </li>
    <li>
        <checkbox ng-model="check5"></checkbox>
        <span class="m-l-xs">渠道包</span>
    </li>
    <li>
        <checkbox ng-model="main.checkFour"></checkbox>
        <span class="m-l-xs">中等屏幕手机再适配一套图</span>
    </li>
    <li>
        <checkbox ng-model="check6"></checkbox>
        <span class="m-l-xs">[数据迁移] 迁移数据到新的leancloud服务</span>
    </li>
</ul>
</div>
</div>
