<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-2">

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref="#"> <i class="fa fa-history " name="submit"></i> 提交  </a></li>
                            <li><a ng-click="goBranchList()"> <i class="fa fa-code-fork"></i> 分支  </a></li>
                        </ul>

                        <!--<div class="clearfix"></div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 animated fadeInRight">
             
             <div class="ibox-content">
                    <div ui-view></div>
             </div>

             
        </div>
    </div>
</div>
