<div class="wrapper wrapper-content animated fadeIn">


    <div class="row">
        <div class="col-lg-12">
          <div class="tabs-container">

              <ul class="nav nav-tabs">
                  <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1" ng-init="tab = 1"><i class="fa fa-code"></i> 代码</a></li>
                  <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-tasks"></i> 任务</a></li>
                  <li ng-class="{'active' : tab == 3}"><a ng-click="tab = 3"><i class="fa fa-info-circle"></i> 问题</a></li>
                  <li ng-class="{'active' : tab == 4}"><a ng-click="tab = 4"><i class="fa fa-file"></i> 文件</a></li>
                  <li ng-class="{'active' : tab == 5}"><a ng-click="tab = 5"><i class="fa fa-user"></i> 成员</a></li>
                  <li ng-class="{'active' : tab == 6}"><a ng-click="tab = 6"><i class="fa fa-gear"></i> 设置</a></li>
              </ul>
              <div class="tab-content">
                  <div id="tab-1" class="tab-pane active" ng-show="tab == 1">
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            <div class="col-lg-2">

                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div>
                                            <ul class="folder-list m-b-md" style="padding: 0">
                                                <li><a ui-sref=".following"> <i class="fa fa-history "></i> 提交  </a></li>
                                                <li><a ui-sref=".follower"> <i class="fa fa-code-fork"></i> 分支  </a></li>
                                                <li><a ui-sref=".follower"> <i class="fa fa-share-alt"></i> 合并请求  </a></li>
                                                <li><a ui-sref=".follower"> <i class="fa fa-line-chart"></i> 项目统计  </a></li>
                                            </ul>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 animated fadeInRight">
                                    <div ui-view></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div id="tab-2" class="tab-pane active" ng-show="tab == 2">
                    <div ng-include="'views/app/project/project_tasks.html'"></div>
                  </div>
                  <div id="tab-3" class="tab-pane active" ng-show="tab == 3">
                    <div ng-include="'views/app/project/project_issues.html'" ng-show="issueBoxShow.list"></div>
                    <div ng-include="'views/app/project/issue_detail.html'" ng-show="issueBoxShow.detail"></div>
                  </div>
                  <div id="tab-4" class="tab-pane active" ng-show="tab == 4">
                    <div ng-include="'views/app/project/project_files.html'"></div>
                  </div>
                  <div id="tab-5" class="tab-pane active" ng-show="tab == 5">
                    5
                  </div>
                  <div id="tab-6" class="tab-pane active" ng-show="tab == 6">
                    6
                  </div>
              </div>

          </div>
        </div>
    </div>
</div>
