<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-title">
    <h5>项目列表</h5>

    <div class="ibox-tools">
        <a href="" class="btn btn-primary btn-xs">新建项目</a>
    </div>
</div>
<div class="ibox-content">
<div class="row m-b-sm m-t-sm">
    <div class="col-md-1">
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
    </div>
    <div class="col-md-11">
        <div class="input-group"><input type="text" placeholder="项目名搜索" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 查找</button> </span></div>
    </div>
</div>

<div class="project-list">

<table class="table table-hover">
<tbody>
<tr>
    <td class="project-status">
        <a href=""><img alt="image" class="mid-image" src="images/laptop.png"></a>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">SVG 三维系统</a>
        <br/>
        <small>创建日期：2014.09.13</small>
    </td>
    <td class="project-completion">
        <small>Completion with: 48%</small>
        <div class="progress progress-mini">
            <div style="width: 48%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="images/avatar1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="images/avatar2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="images/avatar3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="images/avatar4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="images/avatar5.jpg"></a>
    </td>
    <td class="project-actions">
        <a ui-sref="app.project-detail.commits" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>
    </td>
</tr>

<tr>
    <td class="project-status">
        <a href=""><img alt="image" class="mid-image" src="images/header_two.jpg"></a>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">众包平台</a>
        <br/>
        <small>创建日期：2015.10.09</small>
    </td>
    <td class="project-completion">
        <small>完成度: 90%</small>
        <div class="progress progress-mini">
            <div style="width: 90%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="images/avatar1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="images/avatar2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="images/avatar3.jpg"></a>
    </td>
    <td class="project-actions">
        <a ui-sref="app.project-detail.commits" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>
    </td>
</tr>


<tr>
    <td class="project-status">
        <a href=""><img alt="image" class="mid-image" src="images/iphone.jpg"></a>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">可靠性测试</a>
        <br/>
        <small>创建日期：2016.01.02</small>
    </td>
    <td class="project-completion">
        <small>Completion with: 8%</small>
        <div class="progress progress-mini">
            <div style="width: 8%;" class="progress-bar"></div>
        </div>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="images/avatar1.jpg"></a>
    </td>
    <td class="project-actions">
        <a ui-sref="app.project-detail.commits" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>
    </td>
</tr>


</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
