 <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-4" ng-repeat="member in data.members">
                <div class="contact-box">
                    <a href={{member.web_url}}>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src={{member.avatar_url}}>
                            <div class="m-t-xs font-bold">Developer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>{{member.name}}</strong></h3>
                        <!--<p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>-->
                        <address>
                            <strong>Username</strong><br>
                            
                           {{member.username}}
                        </address>
                    </div>
                    <div class="clearfix"></div>
                        </a>
                </div>
            </div>
        </div>
 </div>
 