<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            </a>&nbsp;&nbsp;&nbsp;<a>贡献概览</a>

            <!--<div class="ibox-tools">
                <a class="btn btn-primary btn-xs" ng-click="goCreate(projectsId)">新建分支</a>
            </div>-->


        </div>
        <div class="ibox-content">
            <!--<table class="table">
                <tbody>
                    <thead>

                        <tr>
                            <td colspan="1"><strong>分支名</strong></td>
                            <td colspan="1"><strong>最近提交信息</strong></td>
                            <td colspan="2"><strong>最近提交日期</strong></td>
                        </tr>


                    </thead>
                    <tr ng-repeat="branch in branchlist">
                        <td>{{branch.name}}</td>
                        <td>{{branch.commit.message}}</td>
                        <td>{{branch.commit.committed_date | date:'medium'}}</td>

                        <td class="project-actions">
                            <a class="btn btn-white btn-sm" ng-click="goBranchCommit(projectsId,branch.name)"><i class="fa fa-folder"></i> 查看 </a>
                            <a class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>
                        </td>
                    </tr>
                </tbody>
            </table>-->
            <div class="row">
                <div class="col-md-8">
                    <canvas id="bar" class="chart chart-bar " chart-data="data" chart-labels="labels"> chart-series="series"
                    </canvas>
                </div>
                <div class="col-md-4">
                    <table class="table">
                        <tbody>
                            <thead>
                                <tr>
                                    <td>提交者</td>
                                    <td>提交次数</td>
                                </tr>
                            </thead>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>