<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>任务看板</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-lg-3" ng-repeat="label in labels">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>{{label.name}}</h3>

                    <div class="input-group">
                        <input type="text" placeholder="添加新的任务" class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> 添加</button>
                                </span>
                    </div>
                    <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="label.issues" >
                        <li ng-repeat="issue in label.issues">
                            {{issue.title}}
                            <!--<div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                <i class="fa fa-clock-o"></i> {{task.date}}
                            </div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
