<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-title">
    <h5>里程碑列表</h5>

    <div class="ibox-tools">
        <a class="btn btn-primary btn-xs" ng-click="createMilestone()">新建里程碑</a>
      
    </div>
    
</div>
<div class="ibox-content">
<div class="row m-b-sm m-t-sm">
    <div class="col-md-1">
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
    </div>
    <div class="col-md-11">
        <div class="input-group"><input type="text" placeholder="项目名搜索" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 查找</button> </span></div>
    </div>
</div>

<div class="milestone-list">

<table class="table table-hover">
<tbody>
<tr ng-repeat="milestone in milestones">
    <!-- <td class="milestone-status">
        <a href=""><img alt="image" class="mid-image" ng-src="{{project.avatar_url}}"></a>
        <div class="project_avatar">{{project.name.toLocaleUpperCase().charAt(0)}}</div>
    </td> -->
    <td class="milestone-title">
        <a>{{milestone.title}}</a>

        <a ng-show="milestone.due_date != null">expires on {{milestone.due_date}}</a>
        <br/>
        <!-- <small>过期日期：{{milestone.created_at | date:'medium' }}</small> -->
    </td>
    <td class="milestone-completion">
        <small>Completion with: {{milestone.rate}}%</small>
        <div class="progress progress-mini">
            <div style="width: 0%;" class="progress-bar"></div>
        </div>
    </td>

    <td class="milestone-actions">
        <a ng-click="getMilestoneDetail(milestone.id)" class="btn btn-white btn-sm" ng-model="milestoneId"><i class="fa fa-folder"></i> 查看 </a>
        <a ng-click="closeMilestone(milestone.id)" class="btn btn-white btn-sm" ng-show="milestone.visible"><i class="fa fa-folder"></i> 关闭 </a>
        <a ng-click="" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> 删除 </a>

    </td>
</tr>
    
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>