<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>通知中心</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">


    <div class="row">
        <div class="col-lg-12">
          <div class="tabs-container">

              <uib-tabset>
                  <uib-tab heading="所有通知">
                      <div class="panel-body">
                      </br></br>
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <tbody>
                          <tr>
                              <td><i class="fa fa-send-o"></i>&nbsp;&nbsp;&nbsp;<a>李杰初</a>邀请你进入团队<a>SVG</a></td>
                          </tr>
                          <tr>
                              <td><i class="fa fa-tasks"></i>&nbsp;&nbsp;&nbsp;<a>李杰初</a>在<a>SVG</a>项目中提交了代码</td>
                          </tr>
                          <tr>
                              <td><i class="fa fa-gear"></i>&nbsp;&nbsp;&nbsp;今天XTD是萨比</td>
                          </tr>

                          </tbody>

                      </table>
                      <footer>
                        <div ng-if = "true" class="row clearfix" style="width: 100%;" >
                          <div class="pull-left col-sm-4 m-t-sm">
                            <span class="text-muted inline m-t-sm">&nbsp;&nbsp;&nbsp;共&nbsp;{{resources.paginator.items}}&nbsp;条消息</span>
                          </div>
                            <div class="pull-right">
                            <uib-pagination max-size="7" previous-text="上一页" next-text="下一页" total-items="resources.paginator.items"
                              ng-model="resources.paginator.page" ng-change="pageChanged()"></uib-pagination>
                          </div>
                        </div>
                      </footer>
                      </div>
                  </uib-tab>
                  <uib-tab heading="未读通知">
                      <div class="panel-body">

                      </div>
                  </uib-tab>
                  <uib-tab heading="提到我的">
                      <div class="panel-body">

                      </div>
                  </uib-tab>
                  <uib-tab heading="系统通知">
                      <div class="panel-body">

                      </div>
                  </uib-tab>
              </uib-tabset>

          </div>
        </div>
    </div>
</div>
