<div class="wrapper wrapper-content  animated fadeInRight">


    <div class="col-md-6">
        <h2 class="font-bold">
            项目无文件，请创建


        </h2>
        <p>
            <Strong>Git global setup git config</strong>
        </p>
        <p>
            --global user.name "shikun" --global user.email "18817369206@163.com"
        </p>

        <p>
            <strong>Create a new  repository</strong>
        </p>

        <p>
            git clone http://localhost/shikunkun/tetes.git

        </p>
        <p>
            git add README.md

        </p>
        <p>
            git commit -m "add README"

        </p>
        <p>

            git push -u origin master

        </p>

        <p>

            <strong> Existing folder or Git repository</strong>


        </p>
        <p>
            cd existing_folder


        </p>
        <p>

            git init

        </p>
        <p>

            git remote add origin http://localhost/shikunkun/tetes.git

        </p>

        <p>

            git add .

        </p>

        <p>
            git commit

        </p>
        <p>
            git push -u origin master

        </p>


    </div>
</div>